* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  background-image: url("./images/background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
}

h2 {
  padding: 2em;
}

p {
  font-weight: 400;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 9vh;
  background-color: #364f6b;
  z-index: 998;
}

nav .logo a {
  color: #43dde6;
  letter-spacing: .2em;
  font-size: 1.5em;
  text-decoration: none;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  color: #43dde6;
  letter-spacing: .1em;
  text-decoration: none;
  padding: .5em;
  position: relative;
}

nav .links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: #fc5185;
  width: 0;
  left: 50%;
  height: 2px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

nav .links a:hover::after {
  width: 100%;
  left: 0;
}

nav .burger {
  display: none;
}

nav .burger div {
  width: 22px;
  height: 2px;
  background-color: #FEFEFE;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  section#technologies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#technologies .card {
    width: 60%;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100vw;
  }
  nav .links {
    position: absolute;
    right: 0px;
    top: 9vh;
    height: 91vh;
    background-color: #364f6b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 40%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav .links li {
    opacity: 0;
  }
  nav .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  nav .burger {
    display: block;
    cursor: pointer;
  }
  nav .burger div {
    width: 20px;
    height: 2px;
    background-color: #fc5185;
    margin: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  nav .toggle .line1 {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  nav .toggle .line2 {
    opacity: 0;
  }
  nav .toggle .line3 {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
  }
  section#projects h2 {
    font-size: 20px;
  }
  section#projects ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#projects ul li {
    padding-bottom: 20px;
  }
}

@-webkit-keyframes navFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes navFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes lineStroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lineStroke {
  to {
    stroke-dashoffset: 0;
  }
}

.modal {
  position: absolute;
  background-color: #43dde6;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 999;
}

.modal svg {
  width: 40%;
}

.modal svg path:nth-child(1) {
  stroke-dasharray: 843;
  stroke-dashoffset: 843;
  -webkit-animation: lineStroke 1s forwards;
          animation: lineStroke 1s forwards;
}

.modal svg path:nth-child(2) {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  -webkit-animation: lineStroke 1s forwards 0.2s;
          animation: lineStroke 1s forwards 0.2s;
}

.modal svg path:nth-child(3) {
  stroke-dasharray: 504;
  stroke-dashoffset: 504;
  -webkit-animation: lineStroke 1s forwards 0.4s;
          animation: lineStroke 1s forwards 0.4s;
}

.modal svg path:nth-child(4) {
  stroke-dasharray: 638;
  stroke-dashoffset: 638;
  -webkit-animation: lineStroke 1s forwards 0.6s;
          animation: lineStroke 1s forwards 0.6s;
}

.modal svg path:nth-child(5) {
  stroke-dasharray: 553;
  stroke-dashoffset: 553;
  -webkit-animation: lineStroke 1s forwards 0.8s;
          animation: lineStroke 1s forwards 0.8s;
}

.modal svg path:nth-child(6) {
  stroke-dasharray: 856;
  stroke-dashoffset: 856;
  -webkit-animation: lineStroke 1s forwards 1s;
          animation: lineStroke 1s forwards 1s;
}

.modal svg path:nth-child(7) {
  stroke-dasharray: 627;
  stroke-dashoffset: 627;
  -webkit-animation: lineStroke 1s forwards 1.2s;
          animation: lineStroke 1s forwards 1.2s;
}

.modal svg path:nth-child(8) {
  stroke-dasharray: 533;
  stroke-dashoffset: 533;
  -webkit-animation: lineStroke 1s forwards 1.4s;
          animation: lineStroke 1s forwards 1.4s;
}

.loaded {
  opacity: 0;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5em;
}

section a {
  color: #fc5185;
}

section * {
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
  opacity: 0;
}

section.active * {
  opacity: 1;
}

section#landing {
  background-color: #364f6be8;
}

section#landing .calltoaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

section#landing .calltoaction a {
  color: #FEFEFE;
  background-color: #fc5185;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em;
  border-radius: 2px;
  border: none;
  text-decoration: none;
}

section#landing p {
  width: 85%;
}

.creditsbackground {
  position: fixed;
  padding: .3em;
  font-size: .8em;
  bottom: 20px;
  left: 20px;
  background-color: #fefefe75;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.creditsbackground a {
  text-decoration: none;
  color: #0f0f0f;
}

#educationalBackgrounds {
  background-color: #ffffffe8;
  color: #364f6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: .5em;
}

#educationalBackgrounds .resume {
  width: 350px;
  margin-bottom: 50px;
}

#educationalBackgrounds .gallery {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
}

#educationalBackgrounds .gallery .arrowLeft {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 10%;
  height: 50vh;
  cursor: pointer;
  border-radius: 4px;
}

#educationalBackgrounds .gallery .arrowRight {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 10%;
  height: 50vh;
  cursor: pointer;
  border-radius: 4px;
}

#educationalBackgrounds .gallery .arrowRight:hover, #educationalBackgrounds .gallery .arrowLeft:hover {
  background-color: #364f6b4d;
}

#educationalBackgrounds .gallery .images {
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px #0000006b;
          box-shadow: 0px 0px 10px #0000006b;
  width: 80%;
}

#educationalBackgrounds .gallery .images > * {
  display: none;
  opacity: 0;
  width: 90%;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

#educationalBackgrounds .gallery .images > * img, #educationalBackgrounds .gallery .images > * svg {
  width: 100%;
}

#educationalBackgrounds .gallery .images > .imageActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #364f6be8;
}

#projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3.5rem 0 1rem 0;
}

#projects ul li {
  list-style: none;
}

#projects ul li a {
  text-decoration: none;
  color: #65d9df;
  letter-spacing: .1em;
  position: relative;
  padding: .3em;
  font-size: 1.1em;
  font-weight: 800;
}

#projects ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: #fc5185;
  width: 0;
  left: 50%;
  height: 2px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#projects ul li a:hover::after {
  width: 100%;
  left: 0;
}

#contact {
  color: #0f0f0f;
  background-color: #ffffffe8;
}

#contact li {
  list-style: none;
}

#contact li a {
  color: #364f6b;
}

.gldocmanager, .ero {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gldocmanager h2, .ero h2 {
  padding: 1em;
  padding-top: .2em;
}

.gldocmanager .container, .ero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 32px 32px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gldocmanager .container #gldocvideo, .gldocmanager .container #erovideo, .ero .container #gldocvideo, .ero .container #erovideo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gldocmanager .container .description, .ero .container .description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gldocmanager .container .description p, .ero .container .description p {
  font-size: 16px;
  margin: 16px;
}
/*# sourceMappingURL=css.css.map */